/**
 * Created by army on 2017/5/13.
 */
 
@import '../common/var';
@import '../component/topnav/index';
@import '../component/botnav/index';
@import '../find/index';
@import '../circling/index';
@import '../follow/index';
@import '../my/index';
@import '../post/imageview';

#page{
  padding-top:0.67rem;
  padding-bottom:0.7rem;
}
.mod-iv{
  .c{
    .btn{
      top:0.41rem;
    }
    .btn .like{
      display:none;
    }
  }
  .close{
    top:0.28rem;
  }
}
