/**
 * Created by army on 2017/5/13.
 */
 
@import '../common/var';
@import '../component/topnav/index';
@import '../component/botnav/index';
@import '../find/index';
@import '../circling/index';
@import '../follow/index';
@import '../my/index';
@import '../post/imageview';
@import '../component/botfn/index';

#page{
  padding-top:0.7rem;
  padding-bottom:0.7rem;
  .notice{
    display:block;
    height:0;
    text-align:center;
    white-space:nowrap;
    background:#FF0;
    color:#F00;
    line-height:0.3rem;
    transition:height 1s;
    overflow:hidden;
    &.show{
      height:0.3rem;
    }
  }
}
.mod-iv{
  .c{
    .btn{
      top:0.41rem;
    }
    .btn .like{
      display:none;
    }
  }
  .close{
    top:0.28rem;
  }
}
.g-top{
  bottom:0.6rem;
}
