/**
 * Created by army8735 on 2018/1/12.
 */

.cp-playlist{
  li{
    position:relative;
    display:flex;
    align-items:center;
    height:0.5rem;
    &:after{
      position:absolute;
      left:0;
      bottom:0;
      width:100%;
      height:1px;
      background:#DDD;
      content:' ';
      transform:scaleY(0.5);
    }
    .pic{
      display:block;
      margin-right:0.15rem;
      width:0.4rem;
      height:0.4rem;
      img{
        width:100%;
        height:100%;
        border-radius:0.05rem;
        object-fit:cover;
      }
    }
    .txt{
      flex:1;
      margin-right:0.1rem;
      overflow:hidden;
      .name{
        display:block;
        color:#636365;
        font-size:0.14rem;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .author{
        color:#B6B6B6;
        font-size:0.11rem;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow-x:scroll;
      }
    }
    .fn{
      display:block;
      width:0.24rem;
      height:0.24rem;
      background:url(fn.png) no-repeat center;
      background-size:contain;
    }
    &.cur{
      .txt{
        .name{
          color:#5D99C4;
        }
      }
    }
  }
}
