/**
 * Created by army on 2017/6/16.
 */

@import '../component/playlist/playlist.less';
@import '../component/comment/comment.less';

body{
  padding-top:0;
  background:#EDF3F7;
  > .nav{
    padding:0.66rem 0 0.2rem;
    //background:#fff url(nav_bg.png) no-repeat;
    background:#4E8EB0;
    background-size:cover;
    min-height:0.41rem;
    .back{
      position:absolute;
      top:0.24rem;
      left:0;
      display:block;
      width:0.41rem;
      height:0.41rem;
      &:before{
        position:absolute;
        left:0;
        top:0;
        display:block;
        width:0.1rem;
        height:0.1rem;
        border-top:1px solid #FFF;
        border-left:1px solid #FFF;
        content:' ';
        transform:translate3d(0.18rem, 0.15rem, 0) rotateZ(-45deg);
      }
    }
    .play{
      position:absolute;
      top:0.24rem;
      right:0;
      display:block;
      width:0.41rem;
      height:0.41rem;
      background:url(../works/nav_play.png) no-repeat center;
      background-size:0.22rem auto;
    }
    .profile{
      padding:0 0 0 0.2rem;
      display:flex;
      align-items:center;
      color:#fff;
      .pic{
        position:relative;
        width:0.62rem;
        height:0.62rem;
        margin-right:0.2rem;
        img{
          display:block;
          width:100%;
          height:100%;
          box-sizing:border-box;
          border:1px solid #fff;
          border-radius:100%;
        }
        .v{
          position:absolute;
          bottom:0;
          right:-0.05rem;
          display:block;
          width:0.24rem;
          height:0.24rem;
          background:url(v_logo.png) no-repeat;
          background-size:cover;
        }
      }
      .txt{
        flex:1;
        .n{
          display:flex;
          align-items:center;
          h3{
            margin-right:0.08rem;
            font-size:0.16rem;
          }
          span{
            display:inline-block;
            margin-right:0.02rem;
            width:0.22rem;
            height:0.22rem;
            line-height:0.22rem;
            text-align:center;
            font-size:0.12rem;
            border:1px solid #fff;
            border-radius:100%;
            box-sizing:border-box;
            overflow:hidden;
          }
        }
        .intro{
          margin:0.02rem 0;
          font-size:0.12rem;
          transform:scale(0.833);
          transform-origin:0;
        }
        .o{
          display:flex;
          align-items:center;
          padding:0.1rem 0.1rem 0 0;
          border-top:1px solid #fff;
          .fans{
            margin-right:0.2rem;
            padding:0 0.05rem;
            font-size:0.12rem;
            text-align:center;
            strong{
              display:block;
              font-weight:400;
            }
            span{
              display:block;
              transform:scale(0.833);
            }
          }
          .hot{
            flex:1;
            padding-top:0.05rem;
            .line{
              position:relative;
              height:0.06rem;
              background:rgba(237,243,247,0.5);
              border-radius:0.06rem;
              .progress{
                position:absolute;
                left:0;
                width:80%;
                height:100%;
                background:linear-gradient(90deg, #4C8DAF, #C6EDF1);
                border-radius:0.06rem;
              }
              .point{
                position:absolute;
                left:80%;
                display:block;
                width:0.06rem;
                height:0.06rem;
                &:before{
                  position:absolute;
                  left:-0.07rem;
                  top:-0.04rem;
                  width:0.14rem;
                  height:0.14rem;
                  background:url(yingyuan.png) no-repeat;
                  background-size:cover;
                  content:' ';
                }
              }
            }
            span{
              display:block;
              margin-top:0.06rem;
              font-size:0.12rem;
              transform:scale(0.833);
              text-align:center;
            }
          }
          a{
            position:relative;
            margin-left:0.2rem;
            padding-left:0.18rem;
            width:0.6rem;
            height:0.3rem;
            line-height:0.28rem;
            box-sizing:border-box;
            border:1px solid #fff;
            border-radius:0.05rem;
            color:#fff;
            font-size:0.14rem;
            text-align:center;
            &:before{
              position:absolute;
              left:0.05rem;
              top:0;
              width:0.14rem;
              height:100%;
              background:url(yingyuan.png) no-repeat center;
              background-size:100% auto;
              content:' ';
            }
            &.follow:before{
              background-image:url(+.png);
              background-size:0.1rem auto;
            }
          }
        }
      }
    }
  }
  > .link{
    padding:0.1rem;
    width:100%;
    box-sizing:border-box;
    overflow:scroll;
    background:#fff;
    .c{
      width:9999rem;
      ul{
        display:inline-block;
        li{
          display:inline-block;
          margin-right:0.15rem;
          a{
            display:block;
            padding-top:0.2rem;
            width:0.58rem;
            height:0.4rem;
            box-sizing:border-box;
            border:1px solid #EDF3F7;
            border-radius:0.05rem;
            text-align:center;
            background:url(5sing.png) no-repeat center 0.02rem;
            background-size:0.19rem auto;
            span{
              display:block;
              font-size:0.12rem;
              transform:scale(0.833);
              color:#4E8EB0;
              white-space:nowrap;
            }
            &.bili{
              background:url(bili.png) no-repeat center 0.02rem;
              background-size:0.16rem auto;
            }
            &.wangyi{
              background:url(bili.png) no-repeat center 0.02rem;
              background-size:0.16rem auto;
            }
            &.baidu{
              background:url(bili.png) no-repeat center 0.02rem;
              background-size:0.18rem auto;
            }
          }
        }
      }
    }
  }
  > .tags{
    height:0.44rem;
    border-top:1px solid #EDF3F7;
    background:#fff;
    ul{
      display:flex;
      height:100%;
      color:#A8A8A8;
      font-size:0.14rem;
      &:before,&:after{
        flex:1;
        content:' ';
      }
      li{
        height:100%;
      }
      .placeholder{
        flex:1;
      }
      span{
        position:relative;
        display:block;
        width:1rem;
        height:100%;
        line-height:0.44rem;
        text-align:center;
        b{
          position:absolute;
          left:50%;
          bottom:0.06rem;
          display:none;
          &:after{
            display:block;
            width:0.12rem;
            height:0.03rem;
            background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
            overflow:hidden;
            content:' ';
            transform:translateX(-0.06rem);
            border-radius:0.03rem;
          }
        }
      }
      .cur{
        color:#555;
        b{
          display:block;
        }
      }
    }
  }
  > .home{
    .hot_works{
      position:relative;
      padding-top:0.1rem;
      padding-left:0.25rem;
      min-height:0.75rem;
      background:#fff;
      h3{
        position:absolute;
        left:0;
        top:0.1rem;
        display:flex;
        padding-left:0.02rem;
        width:0.16rem;
        height:0.75rem;
        background:#4E8EB0;
        border-top-right-radius:0.05rem;
        border-bottom-right-radius:0.05rem;
        color:#fff;
        word-wrap:break-word;
        word-break:break-all;
        font-size:0.12rem;
        line-height:1.2;
        align-items:center;
      }
      .list{
        overflow:scroll;
        transition:transform 0.2s;
        &.no_trans{
          transition:none;
        }
        .c{
          width:9999rem;
          overflow:hidden;
          ul{
            display:inline-block;
            li{
              display:inline-block;
              margin-right:0.05rem;
              width:0.75rem;
              .pic{
                position:relative;
                width:0.75rem;
                height:0.75rem;
                color:#fff;
                .bg{
                  position:absolute;
                  left:0;
                  top:0;
                  width:100%;
                  bottom:0;
                  content:' ';
                  background:#EDF3F7;
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                .mask{
                  position:absolute;
                  left:0;
                  top:30%;
                  width:100%;
                  bottom:0;
                  content:' ';
                  background:linear-gradient(rgba(237,243,247,0), rgba(0,0,0,0.3));
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                img{
                  position:relative;
                  display:block;
                  width:100%;
                  height:100%;
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                .num{
                  position:absolute;
                  left:0.05rem;
                  bottom:0;
                  padding-left:0.22rem;
                  font-size:0.12rem;
                  transform:scale(0.833);
                  transform-origin:0 center;
                  .audio{
                    position:absolute;
                    left:0;
                    top:0;
                    display:block;
                    width:0.18rem;
                    height:0.18rem;
                    background:url(../index/find/audio.png) no-repeat center;
                    background-size:cover;
                  }
                  .video{
                    position:absolute;
                    left:0;
                    top:0;
                    display:block;
                    width:0.18rem;
                    height:0.18rem;
                    background:url(../index/find/video.png) no-repeat center;
                    background-size:0.1rem auto;
                  }
                }
                .ath{
                  display:none;
                }
              }
              .txt{
                padding:0.05rem 0;
                font-size:0.12rem;
                transform:scale(0.833);
                transform-origin:0;
              }
            }
          }
        }
      }
    }
    .hot_album{
      position:relative;
      padding-top:0.05rem;
      padding-left:0.25rem;
      min-height:0.75rem;
      background:#fff;
      h3{
        position:absolute;
        left:0;
        top:0.05rem;
        display:flex;
        padding-left:0.02rem;
        width:0.16rem;
        height:0.75rem;
        background:#4E8EB0;
        border-top-right-radius:0.05rem;
        border-bottom-right-radius:0.05rem;
        color:#fff;
        word-wrap:break-word;
        word-break:break-all;
        font-size:0.12rem;
        line-height:1.2;
        align-items:center;
      }
      .list{
        overflow:scroll;
        transition:transform 0.2s;
        &.no_trans{
          transition:none;
        }
        .c{
          width:9999rem;
          overflow:hidden;
          ul{
            padding-top:0.06rem;
            display:inline-block;
            li{
              display:inline-block;
              margin-right:0.05rem;
              width:0.75rem;
              .pic{
                position:relative;
                width:0.75rem;
                height:0.75rem;
                color:#fff;
                .bg3{
                  position:absolute;
                  left:10%;
                  right:10%;
                  top:-0.06rem;
                  background:#EDF3F7;
                  border-radius:0.05rem;
                  height:100%;
                }
                .bg2{
                  position:absolute;
                  left:5%;
                  right:5%;
                  top:-0.03rem;
                  background:#B1C0C9;
                  border-radius:0.05rem;
                  height:100%;
                }
                .bg{
                  position:absolute;
                  left:0;
                  top:0;
                  width:100%;
                  bottom:0;
                  content:' ';
                  background:#EDF3F7;
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                .mask{
                  position:absolute;
                  left:0;
                  top:30%;
                  width:100%;
                  bottom:0;
                  content:' ';
                  background:linear-gradient(rgba(237,243,247,0), rgba(0,0,0,0.3));
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                img{
                  position:relative;
                  display:block;
                  width:100%;
                  height:100%;
                  border-radius:0.05rem;
                  overflow:hidden;
                }
                .num{
                  position:absolute;
                  left:0.05rem;
                  bottom:0;
                  padding-left:0.22rem;
                  font-size:0.12rem;
                  transform:scale(0.833);
                  transform-origin:0 center;
                  .audio{
                    position:absolute;
                    left:0;
                    top:0;
                    display:block;
                    width:0.18rem;
                    height:0.18rem;
                    background:url(../index/find/audio.png) no-repeat center;
                    background-size:cover;
                  }
                  .video{
                    position:absolute;
                    left:0;
                    top:0;
                    display:block;
                    width:0.18rem;
                    height:0.18rem;
                    background:url(../index/find/video.png) no-repeat center;
                    background-size:0.1rem auto;
                  }
                }
                .ath{
                  display:none;
                }
              }
              .txt{
                padding:0.05rem 0;
                font-size:0.12rem;
                transform:scale(0.833);
                transform-origin:0;
              }
            }
          }
        }
      }
    }
    .hot_author{
      position:relative;
      padding-top:0.1rem;
      padding-left:0.25rem;
      min-height:0.75rem;
      background:#fff;
      h3{
        position:absolute;
        left:0;
        top:0.1rem;
        display:flex;
        padding-left:0.02rem;
        width:0.16rem;
        height:0.75rem;
        background:#4E8EB0;
        border-top-right-radius:0.05rem;
        border-bottom-right-radius:0.05rem;
        color:#fff;
        word-wrap:break-word;
        word-break:break-all;
        font-size:0.12rem;
        line-height:1.2;
        align-items:center;
      }
      .list{
        overflow:scroll;
        transition:transform 0.2s;
        &.no_trans{
          transition:none;
        }
        .c{
          width:9999rem;
          overflow:hidden;
          ul{
            display:inline-block;
            li{
              display:inline-block;
              margin-right:0.05rem;
              width:0.6rem;
              .pic{
                position:relative;
                margin:0 auto;
                width:0.45rem;
                height:0.45rem;
                img{
                  display:block;
                  width:100%;
                  height:100%;
                  border-radius:100%;
                }
                b{
                  position:absolute;
                  display:block;
                  width:0.18rem;
                  height:0.18rem;
                  &.ce{
                    background:url(../index/find/ce.png) no-repeat;
                    background-size:cover;
                  }
                  &.ge{
                    background:url(../index/find/ge.png) no-repeat;
                    background-size:cover;
                  }
                  &:nth-of-type(1) {
                    right:0;
                    bottom:0;
                  }
                  &:nth-of-type(2) {
                    right:-0.09rem;
                    bottom:0.1rem;
                  }
                  &:nth-of-type(3) {
                    right:-0.04rem;
                    bottom:0.22rem;
                  }
                }
              }
              .txt{
                font-size:0.12rem;
                color:#2A2A2A;
                transform:scale(0.833);
                text-align:center;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
              }
              .info{
                margin-top:-0.05rem;
                font-size:0.12rem;
                color:#2A2A2A;
                transform:scale(0.833);
                text-align:center;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
              }
            }
          }
        }
      }
    }
  }
  > .works{
    display:none;
    > .tags{
      padding-bottom:0.14rem;
      background:#4E8EB0;
      .l1{
        padding:0.05rem 0.1rem 0;
        background:#fff;
        overflow:scroll;
        .c{
          width:9999rem;
          overflow:hidden;
          ul{
            display:inline-block;
            li{
              position:relative;
              display:inline-block;
              margin-right:0.1rem;
              padding:0.12rem 0.05rem;
              box-sizing:border-box;
              &:before{
                position:absolute;
                left:0;
                top:0.45rem;
                width:100%;
                height:100%;
                background:#EDF3F7;
                border-top-left-radius:0.1rem;
                border-top-right-radius:0.1rem;
                box-shadow:0 2px 4px rgba(78, 142, 176, 0.6);
                content:' ';
                transition:transform 0.2s;
              }
              a{
                position:relative;
                display:block;
                padding:1px;
                height:0.28rem;
                box-sizing:border-box;
                background:linear-gradient(#C6EDF1, #4C8DAF);
                border-radius:0.28rem;
                transition:transform 0.2s;
                span{
                  position:relative;
                  display:block;
                  padding:0 0.1rem;
                  font-size:0.14rem;
                  color:#4E8EB0;
                  height:0.26rem;
                  line-height:0.26rem;
                  background:#fff;
                  border-radius:0.26rem;
                }
              }
              &.on{
                &:before{
                  transform:translate3d(0, -0.45rem, 0);
                }
                a{
                  box-shadow:0 2px 4px rgba(78, 142, 176, 0.2);
                  transform:translate3d(0, -0.07rem, 0);
                  span{
                    background:#EDF3F7;
                    box-shadow:0 2px 4px rgba(78, 142, 176, 0.2) inset;
                  }
                }
              }
            }
          }
        }
      }
      .l2{
        padding:0.05rem 0.1rem 0 0.2rem;
        background:#EDF3F7;
        overflow:scroll;
        .c{
          width:9999rem;
          overflow:hidden;
          ul{
            display:inline-block;
            li{
              position:relative;
              display:inline-block;
              margin-right:0.1rem;
              padding:0.12rem 0.05rem;
              box-sizing:border-box;
              &:before{
                position:absolute;
                left:0;
                top:0.45rem;
                width:100%;
                height:100%;
                background:#4E8EB0;
                border-top-left-radius:0.1rem;
                border-top-right-radius:0.1rem;
                box-shadow:0 2px 4px rgba(78, 142, 176, 0.6);
                content:' ';
                transition:transform 0.2s;
              }
              a{
                position:relative;
                display:block;
                padding:1px;
                height:0.28rem;
                box-sizing:border-box;
                background:linear-gradient(#C6EDF1, #4C8DAF);
                border-radius:0.28rem;
                transition:transform 0.2s;
                span{
                  position:relative;
                  display:block;
                  padding:0 0.1rem;
                  font-size:0.14rem;
                  color:#4E8EB0;
                  height:0.26rem;
                  line-height:0.26rem;
                  background:#EDF3F7;
                  border-radius:0.26rem;
                }
              }
              &.on{
                &:before{
                  transform:translate3d(0, -0.45rem, 0);
                }
                a{
                  background:#fff;
                  box-shadow:0 2px 4px rgba(26, 72, 96, 0.4);
                  transform:translate3d(0, -0.07rem, 0);
                  span{
                    background:#4E8EB0;
                    color:#fff;
                    box-shadow:0 2px 4px rgba(26, 72, 96, 0.4) inset;
                  }
                }
              }
            }
          }
        }
      }
    }
    > .cp_playlist{
      padding-top:0.05rem;
      background:#fff;
    }
  }
  > .comments{
    display:none;
    background:#fff;
  }
}
