/**
 * Created by army8735 on 2018/3/30.
 */

.mod-workslist{
  &.loading{
    opacity:0.5;
  }
  h4{
    position:relative;
    span{
      position:absolute;
      top:0;
      right:0.15rem;
      padding-right:0.1rem;
      font-size:0.12rem;
      color:#B6B6B6;
      font-weight:400;
      &:after{
        position:absolute;
        top:50%;
        right:0;
        width:0.08rem;
        height:0.08rem;
        border-top:1px solid #B6B6B6;
        border-right:1px solid #B6B6B6;
        content:' ';
        transform:translateY(-50%) rotateZ(45deg);
      }
    }
  }
  ul{
    display:flex;
    align-items:start;
    padding-left:0.15rem;
    overflow-x:auto;
    transform:translateZ(0);
    li{
      margin-right:0.1rem;
      width:0.85rem;
      flex-shrink:0;
    }
    .pic{
      position:relative;
      display:block;
      width:100%;
      height:0.85rem;
      background:#EDF3F7;
      border-radius:0.05rem;
      color:#FFF;
      overflow:hidden;
      &:before{
        position:absolute;
        right:0;
        bottom:0;
        display:block;
        width:70%;
        height:0.18rem;
        background:linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
        content:' ';
        z-index:1;
      }
      img{
        display:block;
        width:100%;
        height:100%;
        object-fit:contain;
      }
      .state{
        position:absolute;
        left:0.04rem;
        top:0.02rem;
        text-shadow:@picHoverShadow;
        font-size:0.1rem;
      }
      .type{
        position:absolute;
        top:0.04rem;
        right:0.04rem;
        display:block;
        padding:0 0.03rem;
        background:rgba(0,0,0,0.3);
        line-height:0.18rem;
        border-radius:0.04rem;
        font-size:0.12rem;
        transform:scale(0.833);
        transform-origin:right top;
      }
      .num{
        position:absolute;
        right:0.05rem;
        bottom:0;
        display:block;
        padding-left:0.22rem;
        line-height:0.18rem;
        background:url(../icon/popular-white.png) no-repeat 0.05rem center;
        background-size:0.16rem auto;
        font-size:0.11rem;
        z-index:1;
      }
    }
    .name{
      display:block;
      margin-top:0.03rem;
      font-size:0.12rem;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      color:#636365;
      line-height:1.3;
    }
  }
}
