/**
 * Created by army8735 on 2017/12/4.
 */

@import '../common/var';
@import '../component/postlist/index';
@import '../component/commentbar/index';
@import '../component/comment/index';
@import '../component/imageview/index';
@import '../component/inputcmt/index';
@import '../component/botfn/index';
//@import '../component/quickaudio/index';
//@import '../component/quickVideo/index';

#page > .post{
  .cp-comment{
    margin:0.1rem;
  }
  .cp-postlist{
    .list > li .media .image{
      display:block;
      li{
        display:block;
        margin-right:0;
        width:auto;
        height:auto;
      }
    }
  }
  .cp-imageview{
    .like{
      display:none;
    }
  }
}
