/**
 * Created by army8735 on 2018/6/9.
 */

.mod-post2{
  > .works{
    padding:0.1rem;
    overflow:hidden;
    .video{
      position:relative;
      margin-bottom:0.1rem;
      box-shadow:0 0.01rem 0.04rem rgba(185, 217, 237, 0.5);
      border-radius:0.05rem;
      overflow:hidden;
      .pic{
        position:relative;
        display:block;
        margin-bottom:0.05rem;
        padding-top:56.25%;
        &:after{
          position:absolute;
          left:50%;
          top:50%;
          width:0.6rem;
          height:0.6rem;
          background:url(../component/videolist/play.png) no-repeat center;
          background-size:contain;
          content:' ';
          transform:translate(-50%, -50%);
        }
        img{
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          object-fit:cover;
        }
        .num{
          position:absolute;
          left:0;
          bottom:0;
          width:100%;
          height:0.3rem;
          line-height:0.3rem;
          &:before{
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
            height:0.3rem;
            background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            content:' ';
          }
          .play{
            position:absolute;
            left:0.1rem;
            top:0;
            color:#FFF;
          }
        }
        .type{
          position:absolute;
          top:0.1rem;
          right:0.1rem;
          padding:0 0.03rem;
          border-radius:0.03rem;
          color:#FFF;
          background:rgba(0,0,0,0.4);
          transform:scale(0.833);
          transform-origin:100% 0;
        }
        video{
          position:absolute;
          left:0;
          top:0;
          //display:none;
          width:100%;
          height:100%;
          background:#000 url(https://zhuanquan.xin/img/b44664e647a0924aea0106059c8bd4a6.webp) no-repeat center;
          background-size:0.4rem auto;
          z-index:10;
        }
        &.pause{
          video{
            background:transparent;
          }
          &:after{
            z-index:10;
            background-image:url(../component/videolist/pause.png);
          }
        }
      }
      .name{
        display:block;
        padding:0 0.1rem;
        color:#636365;
        font-size:0.14rem;
      }
      .info{
        display:flex;
        padding:0.05rem 0.1rem;
        .author{
          flex:1;
          font-size:0.11rem;
          color:#B6B6B6;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        b{
          margin-left:0.1rem;
          padding-left:0.18rem;
          height:0.18rem;
          line-height:0.18rem;
          font-weight:400;
          color:#B6B6B6;
          &.like{
            background:url(../component/videolist/like-hollow.png) no-repeat 0 center;
            background-size:0.16rem auto;
            &.liked{
              background-image:url(../component/waterfall/liked.png);
            }
          }
          &.comment{
            background:url(../component/videolist/comment.png) no-repeat 0 center;
            background-size:0.16rem auto;
          }
          &.fn{
            padding:0;
            width:0.16rem;
            height:0.18rem;
            background:url(../component/videolist/fn.png) no-repeat 0 center;
            background-size:0.16rem auto;
          }
        }
      }
    }
    .audio{
      position:relative;
      display:flex;
      //margin:0 0.15rem;
      padding:0.15rem 0;
      &:after{
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:1px;
        background:rgba(182, 182, 182, 0.5);
        content:' ';
        overflow:hidden;
        transform:scaleY(0.5);
      }
      .pic{
        position:relative;
        display:block;
        margin-right:0.15rem;
        width:1.25rem;
        height:1.25rem;
        box-shadow:0 0.01rem 0.04rem rgba(185, 217, 237, 0.8);
        border-radius:0.05rem;
        flex-shrink:0;
        &:after{
          position:absolute;
          left:50%;
          top:50%;
          width:0.6rem;
          height:0.6rem;
          background:url(../component/videolist/play.png) no-repeat center;
          background-size:contain;
          content:' ';
          transform:translate(-50%, -50%);
        }
        img{
          display:block;
          width:100%;
          height:100%;
          object-fit:cover;
          border-radius:0.05rem;
          overflow:hidden;
        }
        div{
          position:absolute;
          top:0;
          left:0;
          overflow:hidden;
          width:100%;
          height:100%;
          span{
            position:absolute;
            left:-0.16rem;
            top:0.12rem;
            width:0.7rem;
            height:0.15rem;
            line-height:0.15rem;
            background:#D3443B;
            color:#FFF;
            font-size:0.11rem;
            text-align:center;
            transform:rotateZ(-45deg);
            white-space:nowrap;
          }
        }
        &.pause{
          &:after{
            background-image:url(../component/videolist/pause.png);
          }
        }
      }
      .txt{
        position:relative;
        flex:1;
        .fn{
          position:absolute;
          top:0;
          right:0;
          width:0.16rem;
          height:0.16rem;
          background:url(../find/menu.png) no-repeat center;
          background-size:contain;
        }
        .name{
          display:block;
          font-size:0.17rem;
          color:#636365;
          font-weight:700;
        }
        .author{
          position:absolute;
          left:0;
          right:-0.15rem;
          display:flex;
          margin-top:0.03rem;
          overflow-x:scroll;
          transform:translateZ(0);
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        dl{
          display:flex;
          align-items:center;
          flex-shrink:0;
          dt{
            margin-right:0.05rem;
            padding:0 0.05rem;
            height:0.17rem;
            line-height:0.17rem;
            border:1px solid #8BBDE1;
            border-radius:0.19rem;
            color:#8BBDE1;
            font-size:0.11rem;
            flex-shrink:0;
          }
          dd{
            margin-right:0.05rem;
            flex-shrink:0;
            a{
              display:flex;
              align-items:center;
            }
            img{
              margin-right:0.03rem;
              width:0.24rem;
              height:0.24rem;
              border:1px solid #EBF5FA;
              border-radius:100%;
              .ios &{
                border-width:0.5px;
              }
            }
            span{
              font-size:0.11rem;
              color:#636365;
            }
          }
        }
        .intro{
          position:relative;
          display:block;
          margin-top:0.35rem;
          padding-top:0.05rem;
          max-height:0.61rem;
          font-size:0.11rem;
          color:#B6B6B6;
          word-break:break-all;
          word-wrap:break-word;
          overflow:hidden;
          pre{
            font-size:0.11rem;
            white-space:pre-wrap;
          }
          &:before{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:1px;
            background:rgba(182, 182, 182, 0.5);
            content:' ';
            overflow:hidden;
            transform:scaleY(0.5);
          }
        }
      }
    }
  }
}
