/**
 * Created by army8735 on 2017/12/11.
 */

#page > .private{
  > ul{
    padding:0.1rem;
    li{
      padding-bottom:0.1rem;
      border-bottom:1px dashed #EEE;
    }
    label{
      display:inline-block;
      color:#919191;
    }
    span{
      margin-right:0.1rem;
    }
    b{
      display:inline-block;
      width:0.2rem;
      height:0.2rem;
      background:url(../my/edit.png) no-repeat center;
      background-size:contain;
      text-indent:999rem;
      overflow:hidden;
      cursor:pointer;
      transform:translateY(0.06rem);
    }
    button{
      display:block;
      margin-top:0.02rem;
      &.disabled{
        color:#919191;
      }
    }
  }
  > .add{
    margin:0.1rem 0.2rem;
    background:#8BBDE1;
    text-align:center;
    line-height:0.32rem;
    font-size:0.14rem;
    color:#FFF;
    border-radius:0.1rem;
  }
}
