/**
 * Created by army on 2017/6/8.
 */
 
@import '../component/comment/index.less';

body{
  background:#EDF3F7;
  > .media{
    position:relative;
    padding-top:0.64rem;
    background:#F9F9F9;
    background-position:center;
    background-size:cover;
    overflow:hidden;
    &:before{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:1.4rem;
      background:linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 100%);
      content:' ';
    }
    &:after{
      position:absolute;
      left:0;
      bottom:0;
      width:100%;
      height:1.5rem;
      background:linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.4) 100%);
      content:' ';
    }
    > .authors{
      position:relative;
      min-height:0.41rem;
      max-height:0.41rem;
      overflow:hidden;
      transition:height 0.2s;
      &.no_max{
        max-height:none;
      }
      .c{
        ul{
          position:relative;
          padding:0 0.1rem;
        }
        li{
          float:left;
          box-sizing:border-box;
          height:0.4rem;
          &.label{
            padding:0.08rem 0.06rem;
            color:#FFF;
            span{
              display:flex;
              padding:0 0.05rem;
              min-width:0.2rem;
              height:0.24rem;
              background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
              border-radius:0.24rem;
              white-space:nowrap;
              font-size:0.1rem;
              align-items:center;
            }
            &:first-child{
              padding-left:0;
            }
          }
          &.item{
            position:relative;
            padding-right:0.06rem;
            line-height:0.4rem;
            color:#fff;
            font-size:0.12rem;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            max-width:0.85rem;
          }
          &.placeholder{
            width:0.4rem;
          }
        }
      }
      .slide{
        position:absolute;
        bottom:0;
        right:0.04rem;
        width:0.4rem;
        height:0.4rem;
        //background:#000;
        &:after{
          position:absolute;
          left:0.14rem;
          top:0.12rem;
          display:block;
          width:0.1rem;
          height:0.1rem;
          border-right:1px solid #808080;
          border-bottom:1px solid #808080;
          content:' ';
          transform:rotateZ(45deg);
          transition:transform 0.2s;
        }
        &.on:after{
          transform:translateY(0.06rem) rotateZ(225deg);
        }
      }
    }
    .author2{
      position:relative;
      margin-top:0.06rem;
      height:0.24rem;
      overflow:scroll;
      z-index:10;
      .c{
        width:9999rem;
        height:0.24rem;
        overflow:hidden;
        ul{
          display:inline-block;
          color:#fff;
          height:0.24rem;
          overflow:hidden;
          li{
            display:inline-flex;
            height:0.24rem;
            vertical-align:top;
            align-items:center;
            &.label{
              margin:0 0.05rem;
              padding:0 0.05rem;
              border:1px solid #fff;
              font-size:0.1rem;
              box-sizing:border-box;
              border-radius:0.24rem;
            }
            &.item{
              padding-right:0.05rem;
              color:#fff;
              font-size:0.12rem;
              white-space:nowrap;
              overflow:hidden;
              text-overflow:ellipsis;
              max-width:0.85rem;
            }
          }
        }
      }
    }
    > .c{
      position:relative;
      height:2.1rem;
      z-index:10;
      &.hide-control{
        .popular{
          opacity:0;
        }
        .audio .control{
          opacity:0;
        }
      }
      .popular{
        position:absolute;
        top:0.05rem;
        right:0.1rem;
        z-index:10;
        padding-left:0.2rem;
        color:#fff;
        font-size:0.12rem;
        line-height:0.2rem;
        background:url(popular.png) no-repeat 0 center;
        background-size:0.18rem 0.2rem;
        transition:opacity linear 0.2s;
      }
      .audio,.video{
        position:relative;
        width:100%;
        height:100%;
        audio,video{
          display:block;
          width:100%;
          height:100%;
        }
        .btn{
          position:absolute;
          left:0;
          bottom:0;
          padding:0.1rem 0;
          width:100%;
          display:flex;
          align-items:center;
          justify-content:space-around;
          .like{
            width:0.21rem;
            height:0.2rem;
            background:url(like.png) no-repeat center;
            background-size:contain;
            &.is{
              background:url(islike.png) no-repeat center;
              background-size:contain;
            }
          }
          .download{
            width:0.2rem;
            height:0.18rem;
            background:url(download.png) no-repeat center;
            background-size:contain;
          }
          .share{
            width:0.2rem;
            height:0.18rem;
            background:url(share.png) no-repeat center;
            background-size:contain;
          }
          .origin{
            width:0.11rem;
            height:0.19rem;
            background:url(origin.png) no-repeat center;
            background-size:contain;
          }
        }
      }
    }
    .progress{
      position:relative;
      margin-bottom:0.1rem;
      width:100%;
      height:0.05rem;
      background:rgba(255,255,255,0.6);
      z-index:10;
      &.dis{
        opacity:0.3;
      }
      .has{
        position:absolute;
        left:0;
        top:0;
        width:0;
        height:100%;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
      }
      .pbg{
        position:absolute;
        left:0.07rem;
        right:0.07rem;
        top:0;
        height:100%;
        .point{
          position:absolute;
          left:0;
          top:50%;
          &:before{
            position:absolute;
            top:-0.07rem;
            left:-0.07rem;
            width:0.14rem;
            height:0.14rem;
            border-radius:100%;
            background:#fff;
            content:' ';
          }
        }
      }
    }
    .bar{
      position:relative;
      display:flex;
      margin:0 20%;
      align-items:center;
      justify-content:space-around;
      z-index:10;
      &.dis{
        opacity:0.3;
      }
      .prev{
        width:0.35rem;
        height:0.35rem;
        background:url(prev.png) no-repeat center;
        background-size:0.22rem auto;
        &.dis{
          opacity:0.3;
        }
      }
      .play{
        width:0.48rem;
        height:0.48rem;
        background:url(play.png) no-repeat center;
        background-size:contain;
        &.pause{
          background:#000;
        }
      }
      .next{
        width:0.35rem;
        height:0.35rem;
        background:url(next.png) no-repeat center;
        background-size:0.22rem auto;
        &.dis{
          opacity:0.3;
        }
      }
    }
    .tags{
      position:relative;
      z-index:10;
      ul{
        padding-left:0.1rem;
        li{
          position:relative;
          margin-right:0.05rem;
          padding:0 0.1rem;
          display:inline-block;
          height:0.3rem;
          line-height:0.3rem;
          &:before{
            position:absolute;
            left:0;
            top:0.25rem;
            width:100%;
            height:101%;
            border-top-left-radius:0.18rem;
            border-top-right-radius:0.18rem;
            background:linear-gradient(#A4D2DF, #7EB4CA);
            content:' ';
            transition:transform 0.2s;
          }
          span{
            position:relative;
            color:#ccc;
            z-index:2;
            font-size:0.14rem;
          }
          &.cur{
            &:before{
              transform:translate3d(0, -0.25rem, 0);
            }
            span{
              color:#fff;
            }
          }
        }
      }
      &:after{
        position:relative;
        display:block;
        width:100%;
        height:0.1rem;
        background:linear-gradient(#A4D2DF, #7EB4CA);
        content:' ';
      }
    }
  }
  > .image_view{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1001;
    background:rgba(0,0,0,0.5);
    overflow:hidden;
    .num{
      position:absolute;
      left:0;
      top:10%;
      width:100%;
      text-align:center;
      color:#fff;
      font-size:0.14rem;
      text-shadow:0 0 2px rgba(0,0,0,0.5);
    }
    .list{
      transition:transform 0.2s;
      width:100%;
      height:100%;
      display:flex;
      align-items:center;
      img{
        flex:1;
      }
    }
  }
  > .intro{
    background:#FFF;
    .tag{
      position:relative;
      padding:0.1rem 0.1rem 0 0.1rem;
      ul{
        //min-height:0.35rem;
      }
      li{
        float:left;
        box-sizing:border-box;
        margin-bottom:0.1rem;
        margin-right:0.1rem;
        padding:1px;
        height:0.25rem;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
        border-radius:0.25rem;
        overflow:hidden;
        a{
          display:block;
          padding:0 0.1rem;
          background:#FFF;
          color:#4E8EB0;
          font-size:0.12rem;
          height:0.23rem;
          line-height:0.23rem;
          border-radius:0.23rem;
          overflow:hidden;
        }
        &.placeholder{
          visibility:hidden;
          width:0.16rem;
          height:0.2rem;
          content:' ';
        }
        &.blank{
          opacity:0.5;
        }
      }
      .config{
        position:absolute;
        bottom:0.14rem;
        right:0.1rem;
        display:block;
        width:0.16rem;
        height:0.16rem;
        background:url(config.png) no-repeat;
        background-size:100% auto;
      }
    }
    .timeline{
      position:relative;
      background:#F9F9F9;
      padding:0.1rem 0.1rem 0.05rem;
      overflow:scroll;
      .line{
        position:absolute;
        left:0;
        top:0.05rem;
        width:100%;
        min-width:100%;
        height:0.02rem;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
        content:' ';
      }
      .c{
        position:relative;
        width:999rem;
      }
      ul{
        display:inline-block;
      }
      li{
        position:relative;
        display:inline-block;
        font-size:0.12rem;
        &:before{
          position:absolute;
          left:0.1rem;
          top:-0.11rem;
          width:0.06rem;
          height:0.06rem;
          background:#4E8EB0;
          border-radius:100%;
          content:' ';
        }
        span{
          color:#4C8DAF;
        }
        small{
          display:inline-block;
          margin-left:0.05rem;
          color:#A8A8A8;
          font-size:0.1rem;
        }
      }
    }
    .inspiration{
      padding:0.1rem 0;
      background:#FFF;
      h3{
        position:relative;
        padding:0 0.1rem;
        color:#2A2A2A;
        font-size:0.12rem;
        font-weight:400;
        &:before{
          position:absolute;
          left:0;
          top:0;
          bottom:0;
          width:0.04rem;
          background:#9ECDDB;
          content:' ';
        }
        .add{
          position:absolute;
          top:0;
          right:0.1rem;
          color:#A8A8A8;
          font-size:0.12rem;
        }
      }
      .list{
        padding:0.1rem 0;
        > li{
          padding:0 0.05rem;
          > .t{
            display:flex;
            align-items:center;
            > .profile{
              flex:1;
              display:flex;
              align-items:center;
              .pic{
                display:block;
                margin-right:0.05rem;
                width:0.3rem;
                height:0.3rem;
                border-radius:0.3rem;
              }
              .txt{
                flex:1;
                line-height:1;
                .name{
                  display:inline-block;
                  margin-right:0.1rem;
                  color:#555;
                  font-size:0.12rem;
                }
                .time{
                  display:inline-block;
                  color:#A8A8A8;
                  font-size:0.1rem;
                }
                p{
                  display:inline-block;
                  color:#A8A8A8;
                  font-size:0.1rem;
                }
              }
            }
            > .fn{
              padding:0 0 0 0.1rem;
              .zan{
                display:block;
                padding-left:0.24rem;
                height:0.3rem;
                line-height:0.3rem;
                background:url(zan.png) no-repeat 0.06rem center;
                background-size:0.12rem auto;
                color:#A8A8A8;
                &.has{
                  color:#4C8DAF;
                  background:url(zan_has.png) no-repeat 0.06rem center;
                  background-size:0.12rem auto;
                }
                small{
                  font-size:0.1rem;
                }
              }
            }
          }
          > .c{
            position:relative;
            margin:0.1rem 0;
            padding:0.05rem 0.1rem;
            color:#FFF;
            font-size:0.12rem;
            background:#4E8EB0;
            border-radius:0.1rem;
            &:after{
              position:absolute;
              left:0.1rem;
              top:-0.16rem;
              display:block;
              width:0;
              height:0;
              border:0.09rem solid #4E8EB0;
              border-top-color:transparent;
              border-left-color:transparent;
              border-right-color:transparent;
              content:' ';
              overflow:hidden;
              transform:scaleX(0.6);
            }
            > pre{
              margin:0;
              word-break:break-all;
              word-wrap:break-word;
              white-space:normal;
              .placeholder{
                display:inline-block;
                width:0.4rem;
                height:0.1rem;
              }
            }
            > .slide{
              position:absolute;
              right:0;
              bottom:-0.05rem;
              display:block;
              padding:0 0.08rem;
              min-width:0.24rem;
              height:0.24rem;
              line-height:0.24rem;
              background:#A4D2DF;
              color:#FFF;
              text-align:center;
              border-radius:0.24rem;
              span{
                display:none;
              }
              small{
              }
              &:after{
                display:inline-block;
                margin-left:0.05rem;
                width:0.16rem;
                height:0.14rem;
                background:url(comment.png) no-repeat;
                background-size:100% auto;
                content:' ';
                transform:translateY(0.03rem);
              }
              &.on{
                background:#EDF3F7;
                color:#A4D2DF;
                &:after{
                  display:none;
                }
                small{
                  display:none;
                }
                span{
                  display:inline-block;
                }
              }
            }
          }
          > .list2{
            text-align:right;
            height:0;
            overflow:hidden;
            transition:height 0.2s;
            .t{
              display:flex;
              align-items:center;
              text-align:right;
              justify-content:flex-end;
              > .profile{
                //flex:1;
                display:flex;
                align-items:center;
                .pic{
                  display:block;
                  margin-left:0.05rem;
                  width:0.3rem;
                  height:0.3rem;
                  border-radius:0.3rem;
                }
                .txt{
                  flex:1;
                  line-height:1;
                  .name{
                    display:inline-block;
                    margin-left:0.1rem;
                    color:#555;
                    font-size:0.12rem;
                  }
                  .time{
                    display:inline-block;
                    color:#A8A8A8;
                    font-size:0.1rem;
                    transform-origin:100%;
                  }
                  .arrow{
                    display:inline-block;
                    width:0;
                    height:0;
                    border:0.04rem solid #DDD;
                    border-top-color:transparent;
                    border-bottom-color:transparent;
                    border-left-color:transparent;
                    transform:scaleX(2.2);
                  }
                  .name2{
                    font-size:0.1rem;
                    transform-origin:100%;
                    color:#A8A8A8;
                  }
                  p{
                    display:inline-block;
                    color:#A8A8A8;
                    font-size:0.1rem;
                    transform-origin:100%;
                  }
                }
              }
              > .fn{
                padding:0 0.1rem 0 0;
                .zan{
                  display:block;
                  padding-left:0.24rem;
                  height:0.3rem;
                  line-height:0.3rem;
                  background:url(zan.png) no-repeat 0.06rem center;
                  background-size:0.12rem auto;
                  color:#A8A8A8;
                  &.has{
                    color:#4C8DAF;
                    background:url(zan_has.png) no-repeat 0.06rem center;
                    background-size:0.12rem auto;
                  }
                  small{
                    font-size:0.1rem;
                  }
                }
              }
            }
            .c{
              position:relative;
              display:inline-block;
              margin:0.1rem 0;
              padding:0.05rem 0.1rem;
              color:#555;
              font-size:0.12rem;
              background:#EDF3F7;
              border-radius:0.1rem;
              &:after{
                position:absolute;
                right:0.1rem;
                top:-0.16rem;
                display:block;
                width:0;
                height:0;
                border:0.08rem solid #EDF3F7;
                border-top-color:transparent;
                border-left-color:transparent;
                border-right-color:transparent;
                content:' ';
                transform:scaleX(0.6);
              }
              > pre{
                display:inline-block;
                margin:0;
                text-align:left;
                word-break:break-all;
                word-wrap:break-word;
                white-space:normal;
              }
            }
          }
        }
      }
    }
  }
  > .comments{
    display:none;
    padding-bottom:0.5rem;
    padding-top:0.1rem;
    background:#fff;
    .input{
      position:fixed;
      left:0;
      bottom:0;
      width:100%;
      height:0.48rem;
      display:flex;
      padding:0 0.1rem;
      box-sizing:border-box;
      background:#fff;
      border-top:1px solid #ccc;
      align-items:center;
      input{
        flex:1;
        padding:0 0.1rem;
        background:#EDF3F7;
        height:0.28rem;
        border:1px solid #eee;
        border-radius:0.1rem;
        font-size:0.14rem;
      }
      button{
        margin-left:0.1rem;
        width:0.6rem;
        font-size:0.14rem;
        background:transparent;
        border:none;
        &.dis{
          opacity:0.3;
        }
      }
    }
  }
}
