/**
 * Created by army on 2017/6/8.
 */
 
@import '../component/comment/index.less';

body{
  padding-bottom:0.6rem;
  background:#EDF3F7;
  > .nav{
    position:fixed;
    left:0;
    top:0;
    padding-top:0.24rem;
    box-sizing:border-box;
    border-bottom:1px solid #EDF3F7;
    width:100%;
    height:0.66rem;
    background:#4E8EB0;
    z-index:999;
    color:#FFF;
    text-align:center;
    overflow:hidden;
    .back{
      position:absolute;
      top:0.24rem;
      left:0;
      display:block;
      width:0.41rem;
      height:0.41rem;
      &:before{
        position:absolute;
        left:0;
        top:0;
        display:block;
        width:0.1rem;
        height:0.1rem;
        border-top:1px solid #FFF;
        border-left:1px solid #FFF;
        content:' ';
        transform:translate3d(0.18rem, 0.15rem, 0) rotateZ(-45deg);
      }
    }
    h1{
      margin:0 0.5rem;
      font-size:0.14rem;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    h2{
      margin:0 0.5rem;
      font-size:0.1rem;
      font-weight:400;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    .play{
      position:absolute;
      top:0.24rem;
      right:0;
      display:block;
      width:0.41rem;
      height:0.41rem;
      background:url(nav_play.png) no-repeat center;
      background-size:0.22rem auto;
    }
  }
  > .authors{
    position:relative;
    min-height:0.41rem;
    max-height:0.82rem;
    overflow:hidden;
    transition:height 0.2s;
    &.no_max{
      max-height:none;
    }
    .c{
      ul{
        position:relative;
        padding:0 0.1rem;
        border-bottom:1px solid #FFF;
        background:#F9F9F9;
        .hairlines &{
          border-width:0.5px;
        }
      }
      li{
        float:left;
        box-sizing:border-box;
        height:0.4rem;
        &.label{
          padding:0.08rem 0.08rem 0.08rem 0;
          color:#FFF;
          span{
            display:flex;
            padding:0 0.05rem;
            min-width:0.2rem;
            height:0.24rem;
            background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
            border-radius:0.24rem;
            white-space:nowrap;
            font-size:0.1rem;
            align-items:center;
          }
        }
        &.item{
          position:relative;
          padding-left:0.34rem;
          padding-right:0.1rem;
          img{
            position:absolute;
            left:0;
            top:0.05rem;
            display:block;
            width:0.3rem;
            height:0.3rem;
            border-radius:0.3rem;
            background:#C4D6E1;
          }
          span{
            display:block;
            height:100%;
            line-height:0.4rem;
            color:#555;
            font-size:0.12rem;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            max-width:0.85rem;
          }
          .add{
            position:absolute;
          }
        }
        &.placeholder{
          width:0.4rem;
        }
      }
    }
    .slide{
      position:absolute;
      bottom:0;
      right:0.1rem;
      width:0.4rem;
      height:0.4rem;
      //background:#000;
      &:after{
        position:absolute;
        left:0.14rem;
        top:0.12rem;
        display:block;
        width:0.1rem;
        height:0.1rem;
        border-right:1px solid #808080;
        border-bottom:1px solid #808080;
        content:' ';
        transform:rotateZ(45deg);
        transition:transform 0.2s;
      }
      &.on:after{
        transform:translateY(0.06rem) rotateZ(225deg);
      }
    }
    .menu{
      position:absolute;
    }
  }
  > .menu{
    position:absolute;
    z-index:1000;
    left:50%;
    top:10%;
    ul{
      overflow:visible;
      transform:translate3d(-0.2rem, -0.2rem, 0);
      &.s2 li{
        &:first-child{
          display:block;
        }
        &:nth-child(2){
          display:block;
        }
      }
      &.s3 li{
        &:first-child{
          display:block;
        }
        &:nth-child(2){
          display:block;
        }
        &:nth-child(3){
          display:block;
        }
      }
      &.s4 li{
        &:first-child{
          display:block;
        }
        &:nth-child(2){
          display:block;
        }
        &:nth-child(3){
          display:block;
        }
        &:nth-child(4){
          display:block;
        }
      }
      &.show.s2 li{
        &:first-child{
          transform:translate3d(0.173rem, 0, 0);
        }
        &:nth-child(2){
          transform:translate3d(-0.173rem, 0, 0);
        }
      }
      &.show.s3 li{
        &:first-child{
          transform:translate3d(0.173rem, 0.1rem, 0);
        }
        &:nth-child(2){
          transform:translate3d(0, -0.2rem, 0);
        }
        &:nth-child(3){
          transform:translate3d(-0.173rem, 0.1rem, 0);
        }
      }
      &.show.s4 li{
        &:first-child{
          transform:translate3d(0.25rem, 0, 0);
        }
        &:nth-child(2){
          transform:translate3d(0, -0.25rem, 0);
        }
        &:nth-child(3){
          transform:translate3d(-0.25rem, 0, 0);
        }
        &:nth-child(4){
          transform:translate3d(0, 0.25rem, 0);
        }
      }
      &.show li{
        opacity:1;
      }
    }
    li{
      position:absolute;
      display:none;
      width:0.4rem;
      height:0.4rem;
      line-height:0.4rem;
      box-sizing:border-box;
      border:1px solid #4E8EB0;
      background:linear-gradient(#FFF, #DDD);
      border-radius:100%;
      text-align:center;
      box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
      overflow:hidden;
      color:#4E8EB0;
      transition:all 0.1s;
      opacity:0;
      &:active{
        background:linear-gradient(#EEE, #CCC);
      }
      span{
        display:block;
        width:100%;
        height:100%;
        font-size:0.1rem;
      }
    }
  }
  > .medias{
    position:relative;
    height:2.1rem;
    > .c{
      display:flex;
      width:100%;
      height:100%;
      background:#C2D8E4;
      transition:transform 0.2s;
      > .video{
        flex:1;
        background:#000;
        height:2.1rem;
        overflow:hidden;
        video{
          display:block;
          width:100%;
          height:2.1rem;
        }
      }
      > .audio{
        position:relative;
        flex:1;
        height:2.1rem;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
        overflow:hidden;
        .wave1{
          position:absolute;
          left:0;
          top:0;
          bottom:10%;
          width:200%;
          background:url(wave1.png) repeat-x 0 bottom;
          background-size:50% auto;
          animation:wave1 10s linear infinite;
          overflow:hidden;
        }
        .wave2{
          position:absolute;
          left:0;
          top:0;
          bottom:15%;
          width:200%;
          background:url(wave2.png) repeat-x 0 bottom;
          background-size:50% auto;
          animation:wave1 6s linear infinite;
          overflow:hidden;
        }
        audio{
          position:relative;
          display:block;
          width:100%;
          height:2.1rem;
        }
      }
      > .image{
        position:relative;
        flex:1;
        height:2.1rem;
        background:#4E8EB0;
        overflow:scroll;
        .list{
          padding:2px;
          width:999rem;
          height:100%;
          box-sizing:border-box;
          overflow:hidden;
          .imgs{
            display:inline-block;
            height:100%;
            img{
              display:inline-block;
              margin-right:2px;
              height:100%;
              border-radius:0.1rem;
              &:last-child{
                margin:0;
              }
            }
          }
        }
      }
      > .link{
        position:relative;
        flex:1;
        display:flex;
        align-items:center;
        height:2.1rem;
        background:url(link_bg.png) no-repeat;
        background-size:cover;
        overflow:hidden;
        ul{
          flex:1;
          padding-right:0.5rem;
          text-align:center;
          li{
            display:inline-block;
            width:25%;
            background:url(5sing.png) no-repeat center 0;
            background-size:0.3rem auto;
            text-align:center;
            &.baidu{
              background-image:url(baidu.png);
            }
            &.wangyi{
              background-image:url(wangyi.png);
            }
            &.bili{
              background-image:url(bili.png);
            }
            a{
              display:block;
              padding-top:0.3rem;
              height:100%;
              box-sizing:border-box;
              font-size:0.12rem;
              color:#fff;
              overflow:hidden;
              text-overflow:ellipsis;
            }
          }
        }
        //.tags{
        //  margin-right:1rem;
        //  overflow:scroll;
        //  .c{
        //    width:9999rem;
        //    ul{
        //      display:inline-block;
        //      li{
        //        display:inline-block;
        //        padding-top:0.4rem;
        //        width:1rem;
        //        background:url(5sing.png) no-repeat center 0;
        //        background-size:0.3rem auto;
        //        font-size:0.12rem;
        //        text-align:center;
        //        span{
        //          color:#fff;
        //          transform:scale(0.833);
        //        }
        //      }
        //    }
        //  }
        //}
      }
    }
    > .switch{
      position:absolute;
      top:0;
      right:0.1rem;
      li{
        margin-top:0.1rem;
        width:0.3rem;
        height:0.3rem;
        box-shadow:0 0 4px rgba(0,0,0,0.5);
        border-radius:100%;
        &.video{
          background:url(video.png) no-repeat center;
          background-size:auto 100%;
          &.cur{
            background-image:url(video_cur.png);
          }
        }
        &.audio{
          background:url(audio.png) no-repeat center;
          background-size:auto 100%;
          &.cur{
            background-image:url(audio_cur.png);
          }
        }
        &.image{
          background:url(image.png) no-repeat center;
          background-size:auto 100%;
          &.cur{
            background-image:url(image_cur.png);
          }
        }
        &.link{
          background:url(link.png) no-repeat center;
          background-size:auto 100%;
          &.cur{
            background-image:url(link_cur.png);
          }
        }
      }
    }
  }
  > .image_view{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1001;
    background:rgba(0,0,0,0.5);
    overflow:hidden;
    .num{
      position:absolute;
      left:0;
      top:10%;
      width:100%;
      text-align:center;
      color:#fff;
      font-size:0.14rem;
      text-shadow:0 0 2px rgba(0,0,0,0.5);
    }
    .list{
      transition:transform 0.2s;
      width:100%;
      height:100%;
      display:flex;
      align-items:center;
      img{
        flex:1;
      }
    }
  }
  > .tags{
    padding:0 0.2rem;
    height:0.44rem;
    background:#FFF;
    overflow:scroll;
    .c{
      height:100%;
      width:999rem;
    }
    ul{
      display:inline-block;
      height:100%;
      li{
        margin-right:0.2rem;
        display:inline-block;
        height:100%;
        line-height:0.44rem;
        color:#A8A8A8;
        font-size:0.14rem;
        &.cur{
          color:#555;
          b{
            display:block;
          }
        }
        &:last-child{
          margin:0;
        }
        span{
          position:relative;
          display:inline-block;
          height:100%;
        }
        small{
          display:inline-block;
          height:100%;
          line-height:0.44rem;
          color:#4E8EB0;
          font-size:0.1rem;
        }
        b{
          position:absolute;
          left:50%;
          bottom:0.06rem;
          display:none;
          &:after{
            display:block;
            width:0.12rem;
            height:0.03rem;
            background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
            overflow:hidden;
            content:' ';
            transform:translateX(-0.06rem);
            border-radius:0.03rem;
          }
        }
      }
    }
  }
  > .intro{
    background:#FFF;
    .tag{
      position:relative;
      padding:0.1rem 0 0 0.1rem;
      ul{
        min-height:0.35rem;
      }
      li{
        float:left;
        box-sizing:border-box;
        margin-bottom:0.1rem;
        margin-right:0.1rem;
        padding:1px;
        height:0.25rem;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
        border-radius:0.25rem;
        overflow:hidden;
        a{
          display:block;
          padding:0 0.1rem;
          background:#FFF;
          color:#4E8EB0;
          font-size:0.12rem;
          height:0.23rem;
          line-height:0.23rem;
          border-radius:0.23rem;
          overflow:hidden;
        }
        &.placeholder{
          visibility:hidden;
          width:0.16rem;
          height:0.2rem;
          content:' ';
        }
        &.blank{
          opacity:0.5;
        }
      }
      .config{
        position:absolute;
        bottom:0.14rem;
        right:0.1rem;
        display:block;
        width:0.16rem;
        height:0.16rem;
        background:url(config.png) no-repeat;
        background-size:100% auto;
      }
    }
    .timeline{
      position:relative;
      background:#F9F9F9;
      padding:0.1rem 0.1rem 0.05rem;
      overflow:scroll;
      .line{
        position:absolute;
        left:0;
        top:0.05rem;
        width:100%;
        min-width:100%;
        height:0.02rem;
        background:linear-gradient(90deg, #A4D2DF, #7EB4CA);
        content:' ';
      }
      .c{
        position:relative;
        width:999rem;
      }
      ul{
        display:inline-block;
      }
      li{
        position:relative;
        display:inline-block;
        font-size:0.12rem;
        &:before{
          position:absolute;
          left:0.1rem;
          top:-0.11rem;
          width:0.06rem;
          height:0.06rem;
          background:#4E8EB0;
          border-radius:100%;
          content:' ';
        }
        span{
          color:#4C8DAF;
        }
        small{
          display:inline-block;
          margin-left:0.05rem;
          color:#A8A8A8;
        }
      }
    }
    .inspiration{
      padding:0.1rem 0;
      background:#FFF;
      h3{
        position:relative;
        padding:0 0.1rem;
        color:#2A2A2A;
        font-size:0.12rem;
        font-weight:400;
        &:before{
          position:absolute;
          left:0;
          top:0;
          bottom:0;
          width:0.04rem;
          background:#9ECDDB;
          content:' ';
        }
        .add{
          position:absolute;
          top:0;
          right:0.1rem;
          color:#A8A8A8;
          font-size:0.12rem;
        }
      }
      .list{
        padding:0.1rem 0;
        > li{
          padding:0 0.05rem;
          > .t{
            display:flex;
            align-items:center;
            > .profile{
              flex:1;
              display:flex;
              align-items:center;
              .pic{
                display:block;
                margin-right:0.05rem;
                width:0.3rem;
                height:0.3rem;
                border-radius:0.3rem;
              }
              .txt{
                flex:1;
                line-height:1;
                .name{
                  display:inline-block;
                  margin-right:0.1rem;
                  color:#555;
                  font-size:0.12rem;
                }
                .time{
                  display:inline-block;
                  color:#A8A8A8;
                  font-size:0.1rem;
                }
                p{
                  display:inline-block;
                  color:#A8A8A8;
                  font-size:0.1rem;
                }
              }
            }
            > .fn{
              padding:0 0 0 0.1rem;
              .zan{
                display:block;
                padding-left:0.24rem;
                height:0.3rem;
                line-height:0.3rem;
                background:url(zan.png) no-repeat 0.06rem center;
                background-size:0.12rem auto;
                color:#A8A8A8;
                &.has{
                  color:#4C8DAF;
                  background:url(zan_has.png) no-repeat 0.06rem center;
                  background-size:0.12rem auto;
                }
                small{
                  font-size:0.1rem;
                }
              }
            }
          }
          > .c{
            position:relative;
            margin:0.1rem 0;
            padding:0.05rem 0.1rem;
            color:#FFF;
            font-size:0.12rem;
            background:#4E8EB0;
            border-radius:0.1rem;
            &:after{
              position:absolute;
              left:0.1rem;
              top:-0.16rem;
              display:block;
              width:0;
              height:0;
              border:0.09rem solid #4E8EB0;
              border-top-color:transparent;
              border-left-color:transparent;
              border-right-color:transparent;
              content:' ';
              overflow:hidden;
              transform:scaleX(0.6);
            }
            > pre{
              margin:0;
              word-break:break-all;
              word-wrap:break-word;
              white-space:normal;
              .placeholder{
                display:inline-block;
                width:0.4rem;
                height:0.1rem;
              }
            }
            > .slide{
              position:absolute;
              right:0;
              bottom:-0.05rem;
              display:block;
              padding:0 0.08rem;
              min-width:0.24rem;
              height:0.24rem;
              line-height:0.24rem;
              background:#A4D2DF;
              color:#FFF;
              text-align:center;
              border-radius:0.24rem;
              span{
                display:none;
              }
              small{
              }
              &:after{
                display:inline-block;
                margin-left:0.05rem;
                width:0.16rem;
                height:0.14rem;
                background:url(comment.png) no-repeat;
                background-size:100% auto;
                content:' ';
                transform:translateY(0.03rem);
              }
              &.on{
                background:#EDF3F7;
                color:#A4D2DF;
                &:after{
                  display:none;
                }
                small{
                  display:none;
                }
                span{
                  display:inline-block;
                }
              }
            }
          }
          > .list2{
            text-align:right;
            height:0;
            overflow:hidden;
            transition:height 0.2s;
            .t{
              display:flex;
              align-items:center;
              text-align:right;
              justify-content:flex-end;
              > .profile{
                //flex:1;
                display:flex;
                align-items:center;
                .pic{
                  display:block;
                  margin-left:0.05rem;
                  width:0.3rem;
                  height:0.3rem;
                  border-radius:0.3rem;
                }
                .txt{
                  flex:1;
                  line-height:1;
                  .name{
                    display:inline-block;
                    margin-left:0.1rem;
                    color:#555;
                    font-size:0.12rem;
                  }
                  .time{
                    display:inline-block;
                    color:#A8A8A8;
                    font-size:0.1rem;
                    transform-origin:100%;
                  }
                  .arrow{
                    display:inline-block;
                    width:0;
                    height:0;
                    border:0.04rem solid #DDD;
                    border-top-color:transparent;
                    border-bottom-color:transparent;
                    border-left-color:transparent;
                    transform:scaleX(2.2);
                  }
                  .name2{
                    font-size:0.1rem;
                    transform-origin:100%;
                    color:#A8A8A8;
                  }
                  p{
                    display:inline-block;
                    color:#A8A8A8;
                    font-size:0.1rem;
                    transform-origin:100%;
                  }
                }
              }
              > .fn{
                padding:0 0.1rem 0 0;
                .zan{
                  display:block;
                  padding-left:0.24rem;
                  height:0.3rem;
                  line-height:0.3rem;
                  background:url(zan.png) no-repeat 0.06rem center;
                  background-size:0.12rem auto;
                  color:#A8A8A8;
                  &.has{
                    color:#4C8DAF;
                    background:url(zan_has.png) no-repeat 0.06rem center;
                    background-size:0.12rem auto;
                  }
                  small{
                    font-size:0.1rem;
                  }
                }
              }
            }
            .c{
              position:relative;
              display:inline-block;
              margin:0.1rem 0;
              padding:0.05rem 0.1rem;
              color:#555;
              font-size:0.12rem;
              background:#EDF3F7;
              border-radius:0.1rem;
              &:after{
                position:absolute;
                right:0.1rem;
                top:-0.16rem;
                display:block;
                width:0;
                height:0;
                border:0.08rem solid #EDF3F7;
                border-top-color:transparent;
                border-left-color:transparent;
                border-right-color:transparent;
                content:' ';
                transform:scaleX(0.6);
              }
              > pre{
                display:inline-block;
                margin:0;
                text-align:left;
                word-break:break-all;
                word-wrap:break-word;
                white-space:normal;
              }
            }
          }
        }
      }
    }
  }
  > .comments{
    background:#fff;
  }
}

.test{
  display:block;
  width:100%;
}

@keyframes wave1{
  0%{
    transform:translate3d(0,0,0);
  }
  100%{
    transform:translate3d(-50%,0,0);
  }
}
