/**
 * Created by army8735 on 2017/12/5.
 */

@import '../common/var';
@import '../component/subcmt/index';
@import './letter';

#page > .my-message{
  > h4{
    position:relative;
    margin:0.1rem;
    padding-left:0.05rem;
    font-size:0.14rem;
    font-weight:400;
    &:before{
      position:absolute;
      left:0;
      top:0.02rem;
      bottom:0.02rem;
      width:0.02rem;
      background:@secondColor;
      content:' ';
      border-radius:0.05rem;
    }
  }
  > .list{
    border-bottom:0.1rem solid #EDF3F7;
    li{
      position:relative;
      &:after{
        position:absolute;
        left:0.5rem;
        right:0;
        bottom:0;
        height:1px;
        background:#ECECEC;
        transform:scaleY(0.5);
        content:' ';
      }
      a{
        position:relative;
        display:block;
        color:#717171;
        padding:0 0 0 0.7rem;
        height:0.68rem;
        line-height:0.68rem;
        font-size:0.16rem;
        background:url(comment.png) no-repeat 0.15rem center;
        background-size:0.4rem auto;
        &:active{
          background-color:#F3F8FB;
        }
        &:after{
          position:absolute;
          top:50%;
          right:0.2rem;
          width:0.1rem;
          height:0.1rem;
          border-top:0.015rem solid #B6B6B6;
          border-right:0.015rem solid #B6B6B6;
          border-radius:0.015rem;
          transform:translateY(-50%) rotateZ(45deg);
          content:' ';
        }
      }
      .num{
        position:absolute;
        left:0.4rem;
        top:0.4rem;
        padding:0 0.02rem;
        min-width:0.18rem;
        box-sizing:border-box;
        color:#FFF;
        background:#F33;
        border-radius:0.18rem;
        font-weight:400;
        text-align:center;
        font-size:0.12rem;
        transform:scale(0.833) translateZ(0);
      }
    }
  }
  .g-message{
    position:absolute;
    left:0.3rem;
    bottom:0;
    background:none;
  }
}

