/**
 * Created by army8735 on 2017/12/3.
 */

@import '../common/var';
@import '../component/postlist/index';
@import '../component/imageview/index';
@import '../component/inputcmt/index';
@import '../component/botfn/index';
@import '../component/background/index';
@import './nav';

#page > .circle{
  .cp-background{
    position:fixed;
    top:0.26rem;
    right:0.32rem;
    z-index:50;
    b{
      background:#FFF;
      box-shadow:0 0.01rem 0.02rem rgba(0, 0, 0, 0.3);
    }
  }
}
