/**
 * Created by army on 2017/4/18.
 */

@import '../common/var';

body{
  background:#FFF;
}

#page{
  display:flex;
  flex-direction:column;
  padding:0.2rem 0;
}

h2{
  margin-top:0.1rem;
  font-size:0.23rem;
  text-align:center;
  font-weight:400;
}
h4{
  font-size:0.16rem;
  opacity:0.6;
  text-align:center;
  line-height:1.8;
  font-weight:400;
}
.sub{
  margin:0 auto;
  display:block;
  width:2.7rem;
  height:0.4rem;
  background:@mainColor;
  border:none;
  color:#FFF;
  border-radius:0.2rem;
  font-size:0.15rem;
  &.dis{
    background:#EDF3F7;
  }
}
//.step0{
//  h4{
//    color:#1083a6;
//  }
//  p{
//    margin:0 auto;
//    width:3.11rem;
//    opacity:0.6;
//    font-size:0.13rem;
//    text-indent:2em;
//  }
//  .on{
//    margin:0.1rem auto 0;
//    display:block;
//    width:3.11rem;
//    height:1.23rem;
//    background:url(vip_on.jpg) no-repeat;
//    background-size:100% auto;
//  }
//  .off{
//    margin:0.1rem auto 0;
//    display:block;
//    width:3.11rem;
//    height:1.23rem;
//    background:url(vip_off.jpg) no-repeat;
//    background-size:100% auto;
//  }
//  .protocol{
//    margin-top:0.1rem;
//    text-align:center;
//    color:#a4a4a4;
//    font-size:0.13rem;
//    a{
//      color:#4c8daf;
//    }
//  }
//}
.step1{
  flex:1;
  display:flex;
  flex-direction:column;
  .con{
    flex:1;
    padding-bottom:0.2rem;
  }
  .icon{
    margin:0 auto;
    display:block;
    width:1.72rem;
    height:1.79rem;
    background:url(pic1.png) no-repeat center;
    background-size:contain;
  }
  .name{
    margin:0.2rem auto;
    display:block;
    width:2.7rem;
    height:0.4rem;
    border:1px solid @mainColor;
    border-radius:0.1rem;
    text-align:center;
    color:#555;
    font-size:0.14rem;
    &::-webkit-input-placeholder{
      color:@mainColor;
    }
  }
  .error{
    margin-top:0.05rem;
    text-align:center;
    color:#fb6054;
    font-size:0.12rem;
    height:0.18rem;
  }
  .qsex{
    margin-top:0.05rem;
    font-size:0.16rem;
    opacity:0.6;
    text-align:center;
    line-height:1.8;
  }
  .sex{
    margin:0 auto;
    display:flex;
    width:2.7rem;
    text-align:center;
    font-size:0.13rem;
    li{
      flex:1;
      span{
        display:block;
        margin-top:0.05rem;
        opacity:0.6;
      }
      &.cur span{
        opacity:1;
      }
      &.male:before{
        display:block;
        margin:0.1rem auto 0;
        width:0.86rem;
        height:0.82rem;
        background:url(male_off.png) no-repeat center;
        background-size:100% auto;
        content:' ';
      }
      &.cur.male:before{
        background:url(male_on.png) no-repeat center;
        background-size:100% auto;
      }
      &.female:before{
        display:block;
        margin:0.1rem auto 0;
        width:0.86rem;
        height:0.82rem;
        background:url(female_off.png) no-repeat center;
        background-size:100% auto;
        content:' ';
      }
      &.cur.female:before{
        background:url(female_on.png) no-repeat center;
        background-size:100% auto;
      }
    }
  }
}
.step2{
  flex:1;
  display:flex;
  flex-direction:column;
  .con{
    flex:1;
    padding-bottom:0.2rem;
  }
  .icon{
    margin:0 auto;
    display:block;
    width:1.72rem;
    height:1.79rem;
    background:url(pic2.png) no-repeat center;
    background-size:contain;
  }
  .list{
    margin:0 auto 0.1rem;
    width:2.94rem;
    transform:translateX(0.05rem);
    li{
      display:inline-block;
      margin-right:0.1rem;
      margin-top:0.1rem;
      padding:0 0.1rem;
      width:0.88rem;
      height:0.34rem;
      line-height:0.34rem;
      box-sizing:border-box;
      text-align:center;
      color:@mainColor;
      border:1px solid @mainColor;
      border-radius:0.17rem;
      overflow:hidden;
      font-size:0.14rem;
      &.on{
        color:#fff;
        background:@mainColor;
      }
    }
  }
}
.step3{
  flex:1;
  display:flex;
  flex-direction:column;
  .con{
    flex:1;
    padding-bottom:0.2rem;
  }
  .icon{
    margin:0 auto;
    display:block;
    width:1.72rem;
    height:1.79rem;
    background:url(pic3.png) no-repeat center;
    background-size:contain;
  }
  .list{
    margin:0.2rem auto 0.4rem;
    text-align:center;
    li{
      position:relative;
      display:inline-block;
      margin-bottom:0.1rem;
      width:0.8rem;
      text-align:center;
      color:#555;
      &.on{
        color:@secondColor;
      }
      img{
        display:block;
        margin:0 auto 0.04rem;
        width:0.6rem;
        height:0.6rem;
        border-radius:0.6rem;
        box-sizing:border-box;
        box-shadow:@headShadow;
      }
      span{
        display:block;
        font-size:0.12rem;
        opacity:0.6;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
  }
  .sel{
    position:fixed;
    left:0;
    bottom:0;
    right:1rem;
    display:flex;
    padding-left:0.1rem;
    height:0.5rem;
    background:#EDF3F7;
    align-items:center;
    overflow-x:auto;
    transform:translate3d(0, 0, 0);
    li{
      position:relative;
      width:0.4rem;
      flex-shrink:0;
      flex-basis:0.4rem;
      &:after{
        position:absolute;
        top:-0.02rem;
        left:0.2rem;
        width:0.1rem;
        height:0.1rem;
        background:url(del.png) no-repeat center;
        background-size:contain;
        content:' ';
      }
      img{
        display:block;
        width:0.3rem;
        height:0.3rem;
        border-radius:0.3rem;
        box-sizing:border-box;
        box-shadow:@headShadow;
      }
    }
  }
  button{
    position:fixed;
    bottom:0;
    right:0;
    padding:0;
    width:1rem;
    height:0.5rem;
    line-height:0.5rem;
    border-radius:0;
  }
}
