/**
 * Created by army on 2017/4/18.
 */

body{
  padding:0.2rem 0;
  background:#FFF;
}

.logo{
  margin:0 auto;
  display:block;
  width:1.74rem;
}
h2{
  margin-top:0.1rem;
  font-size:0.23rem;
  text-align:center;
  font-weight:400;
}
h4{
  font-size:0.16rem;
  opacity:0.6;
  text-align:center;
  line-height:1.8;
  font-weight:400;
}
.sub{
  margin:0.3rem auto 0;
  display:block;
  width:2.7rem;
  height:0.4rem;
  background:#4c8daf;
  border:none;
  color:#FFF;
  border-radius:0.2rem;
  font-size:0.14rem;
  &.dis{
    background:#edf3f7;
    color:#8b99a3;
  }
}
.step1{
  .iname{
    margin:0.1rem auto 0;
    display:block;
    width:2.7rem;
    height:0.4rem;
    background:#edf3f7;
    border:none;
    border-radius:0.1rem;
    text-align:center;
    &::-webkit-input-placeholder{
      color:#4c8daf;
      font-size:0.13rem;
      opacity:0.5;
    }
  }
  .error{
    margin-top:0.05rem;
    text-align:center;
    color:#fb6054;
    font-size:0.12rem;
    height:0.18rem;
  }
  .qsex{
    margin-top:0.05rem;
    font-size:0.16rem;
    opacity:0.6;
    text-align:center;
    line-height:1.8;
  }
  .sex{
    margin:0 auto;
    display:flex;
    width:2.7rem;
    text-align:center;
    font-size:0.13rem;
    li{
      flex:1;
      span{
        display:block;
        margin-top:0.05rem;
        opacity:0.6;
      }
      &.cur span{
        opacity:1;
      }
      &.male:before{
        display:block;
        margin:0.1rem auto 0;
        width:0.86rem;
        height:0.82rem;
        background:url(male_off.png) no-repeat center;
        background-size:100% auto;
        content:' ';
      }
      &.cur.male:before{
        background:url(male_on.png) no-repeat center;
        background-size:100% auto;
      }
      &.female:before{
        display:block;
        margin:0.1rem auto 0;
        width:0.86rem;
        height:0.82rem;
        background:url(female_off.png) no-repeat center;
        background-size:100% auto;
        content:' ';
      }
      &.cur.female:before{
        background:url(female_on.png) no-repeat center;
        background-size:100% auto;
      }
    }
  }
}
.step2{
  display:none;
  .list{
    margin:0.2rem auto 0;
    width:3.1rem;
    .line{
      display:flex;
      .item{
        flex:1;
        .con{
          position:relative;
          margin:0 auto;
          width:1.1rem;
          height:0.76rem;
          .bg{
            width:100%;
            height:100%;
            background:url(keng1.png) no-repeat center bottom;
            background-size:100% auto;
          }
          .icon{
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
            height:0.96rem;
            &:before{
              position:absolute;
              left:0;
              bottom:0;
              width:100%;
              height:100%;
              background:url(music_on.png) no-repeat center bottom;
              background-size:0.78rem 0.96rem;
              content:' ';
            }
            &:after{
            
            }
          }
          .fg{
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
            height:100%;
            background:url(keng2.png) no-repeat center bottom;
            background-size:100% auto;
          }
          .flag{
            position:absolute;
            left:-0.05rem;
            bottom:0.23rem;
            &:before{
              position:absolute;
              left:0.01rem;
              bottom:0.04rem;
              width:0.01rem;
              height:0.3rem;
              background:#d8d7d7;
              border-right:0.5px solid #e8e5e5;
              content:' ';
            }
            &:after{
              position:absolute;
              right:0;
              bottom:-0.2rem;
              width:0.01rem;
              height:0.3rem;
              background:#d8d7d7;
              border-right:0.5px solid #e8e5e5;
              content:' ';
            }
            span{
              position:relative;
              z-index:10;
              display:block;
              padding:0 0.04rem;
              line-height:1.8;
              background:#b8dcff;
              white-space:nowrap;
              color:#FFF;
              font-size:0.12rem;
              transform:skewY(30deg);
            }
          }
        }
      }
    }
  }
}
.step3{
  .list{
    margin:0 auto;
    width:3.1rem;
    transform:translateX(0.14rem);
    li{
      margin-top:0.2rem;
      float:left;
      padding-right:0.14rem;
      width:0.6rem;
      text-align:center;
      img{
        display:block;
        width:0.6rem;
        height:0.6rem;
        border-radius:0.6rem;
      }
      span{
        font-size:0.13rem;
        opacity:0.6;
      }
    }
  }
  .change{
    display:block;
    margin:0.1rem auto 0.4rem;
    width:0.9rem;
    height:0.25rem;
    line-height:0.25rem;
    font-size:0.13rem;
    color:#4c8daf;
    text-align:center;
    border-radius:0.25rem;
    border:1px solid #4c8daf;
    .hairlines &{
      border-width:0.5px;
    }
    &:before{
      display:inline-block;
      margin-right:0.05rem;
      content:' ';
      width:0.13rem;
      height:0.13rem;
      background:url(refresh.png) no-repeat;
      background-size:100% auto;
      transform:translateY(0.02rem);
    }
  }
  .choose{
    .lists{
      position:fixed;
      left:0;
      bottom:0;
      right:1rem;
      height:0.5rem;
      background:#eaf5fa;
      overflow:scroll;
      z-index:11;
      ul{
        width:10rem;
        padding-top:0.06rem;
        li{
          margin-left:0.1rem;
          display:inline-block;
          width:0.37rem;
          height:0.37rem;
          border-radius:0.37rem;
          border:1px solid #CCC;
          .hairlines &{
            border-width:0.5px;
          }
          img{
            display:inline-block;
            width:100%;
            height:100%;
            border-radius:0.37rem;
          }
        }
      }
    }
    button{
      position:fixed;
      bottom:0;
      right:0;
      padding:0;
      width:1rem;
      height:0.5rem;
      line-height:0.5rem;
      background:#4c8daf;
      color:#fff;
      font-size:0.15rem;
      border:none;
    }
  }
}
