/**
 * Created by army8735 on 2017/9/19.
 */

.top-nav{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  padding:0.24rem 0.1rem 0;
  box-sizing:border-box;
  width:100%;
  height:0.7rem;
  background:#FFF;
  z-index:100;
  box-shadow:0 0 1px rgba(0, 0, 0, 0.1);
  transform:translateZ(0);
  .search{
    width:0.24rem;
    height:0.24rem;
    background:url(../../icon/magnifier.png) no-repeat 0 center;
    background-size:contain;
  }
  input{
    flex:1;
    margin:0 0.1rem;
    padding:0 0.15rem;
    height:0.26rem;
    color:#BFBFBF;
    background:#EBF5FA;
    border:none;
    border-radius:0.26rem;
    &::placeholder{
      color:#BFBFBF;
    }
  }
  .cp-background{
    position:static;
    b{
      background:#8bbde1;
      box-shadow:0 0.01rem 0.02rem rgba(139, 189, 225, 0.3);
    }
  }
}